<a href="https://colab.research.google.com/github/bimawardhana/traveloka-data-analysis/blob/master/traveloka-data-challenge/Solution_BimaSatria_SuryaWardhana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TRAVELOKA CUSTOMERS ANALYSIS & INSIGHT**

**BIMA SATRIA SURYA WARDHANA**

*Data Analyst (DA) — Marketing Analytics*


---



This analysis is used as a part of [Traveloka Data Challenge](https://traveloka.tau-data.com/2019/10/23/2019-tdc/) — using real cases scenario of Traveloka customers. Data used has been altered to match the challenges' requirement; therefore, some insights might not reflect the real world situation. However, some methods used in this analysis might be useful for any real-world analysis that might be conducted in the future.

Analysis will be triggered by patterns and characteristics found in Traveloka customers data based on the sample data given — *kindly refer to Data Exploration section for the sample data details* — so analysis with starts with data exploration to find pattern and characteristics, formulating problem statement, and then do deeper analysis on the data to answer the problem statement.

## 1. DATA EXPLORATION


This section covers several processes of data understanding, including: 1) ***extracting data*** from the sources, 2) ***data preparation*** — removing empty and unnecessary values as well as data schema adjustment, and 3) ***exploratory data analysis (EDA)*** to find patterns or important characteristics to be analysed further.

### a) Data Extraction

In [2]:
from google.colab import auth

# AUTHENTICATION — interactively using web browser
auth.authenticate_user()
print('Authenticated')

Authenticated

In [4]:
# Display query output immediately

%%bigquery --project tvlk-data-mktanalytics-dev
SELECT 
  *
FROM 
  `tvlk-data-mktscience-dev.data_challenge.customer_lifecycle`
LIMIT 10

   row_num  profile_id last_ads_id  ... is_churn  product product_breadth
0   343313      329825        None  ...     True      all               1
1   748191      320465        None  ...     True      all               1
2   778371      320465        None  ...     True      all               1
3   488453      497377        None  ...     True      all               1
4   553369      320465        None  ...     True      all               1
5  1348408      119297        None  ...     True      all               1
6  1645055      355465        None  ...     True      all               1
7   245358      344825        None  ...     True      all               1
8   502594      355465        None  ...     True      all               1
9   152330      320465        None  ...     True      all               1

[10 rows x 42 columns]